.countdown-container {
    display: flex;
    justify-content: center;
    .countdown-grid {
        display: grid;
        grid-template-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
        text-align: center;

        section div:first-child {
            font-size: 2.5em;
            background-color: #000;
            color: #fff;
            padding: 0 5px;
        }
        section div:last-child {
            font-size: 0.8em;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
        }
        span {
            width: 30px;
        }
        section div:first-child,
        section div:last-child {
            letter-spacing: 5px;
            text-indent: 5px;
        }
        @media (min-width: 320px) {
            section div:first-child {
                font-size: calc(22px + 16 * ((100vw - 320px) / 680));
            }
            section div:last-child {
                font-size: calc(10px + 3 * ((100vw - 320px) / 680));
            }
        }
    }
}
